#block {
	font-size: 0.9em;
	text-align: center;
	font-family: "Baskerville Old Face", "sans-serif";
	font-style: italic;
	margin-top: 200px;
	float: right;
	height: 520px;
	width: 320px;
	border: 5px solid #CCC;
	padding: 10px 10px 10px 10px;
}

#footer{
text-align:center;
padding:20px;
margin:0;
border-top:5px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;

}

h3, h2 {
	text-align: center;
	font-family: "Baskerville Old Face", "sans-serif";
}

#Log {

}

h3, h4{
	font-size: 1.0em;
}

#Main {
	background-color: #E4E4E4;
	border: 5px solid #CCC;
	padding: 15px 15px 10px 15px;
	margin-top: 200px;
	margin-left: 6px;
	width: 800px;
	height: 600px;
	float: left;
}

#Anuncio {
	height: 200px;
	width: 600px;
	background-color: #CCC;
	margin-left: 5px;
}