#tbmats{max-width: 80%;}
.textos{width: 150px	;}
.bids{display: none;}
.ullimpia{list-style: none;margin-left: -5px;margin-top: 0px;margin-bottom: 0px;}
#primerli{margin-left: 33%;}
#divperfiles{margin-left: 20%;}